.App {
  text-align: center;
  
}

.Calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Definiše 4 kolone */
  gap: 10px; /* Razmak između dugmadi */  
  width: 50%;
  margin: 100px auto;
}

.Button {
  text-align: center; /* Centriranje teksta unutar dugmeta */
  padding: 10px; /* Dodatni prostor unutar dugmeta */
  border: 1px solid black; /* Dodajte ivicu za vizuelnu razliku */
}

.Button.doubleHeight {
  grid-row-end: span 2; /* Dvostruka visina */
}

.Button.doubleWidth {
  grid-column-end: span 2; /* Dvostruka širina */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
